@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

// =================== COLORS =================== //
$base-color: #58AEE2;
$first-color: #F1F1F1;
$second-color: #F1BE79;
$third-color: #187AAA;
$fourth-color: #4A1F54;

// =================== FONTS =================== //


$base-font: 'Oswald', sans-serif;
//200, 300, 400, 500, 600, 700
$second-font: 'Roboto', sans-serif;
// 100, 300, 400, 500, 700